<h1>Add Interest</h1>
<%= form_for(@interest) do |f| %>
  <% if @interest.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @interest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	  <%= link_to "Back", new_user_interest_path(@user) %>
  <% else %>
      <div class="field">
        <%= f.label :activity_id %><br>
    	  <% activities_array = @activities.map { |activity| [activity.name, activity.id] } %>
        <%= f.select(:activity_id, options_for_select(activities_array)) %>
      </div>
      <div class="field">
    	  <%= f.label :user_rating %><br>
    	  <%= f.select(:user_rating, options_for_select((1..10).to_a)) %>
      </div>
      <div class='actions'><%= f.submit 'Add', class: 'btn'  %></div>
<%   end
end %>

