<ul class='info-list'>
  <li><span class='info-title'>Location: </span><span class='info-text'><%= place.location %></span></li>
  <li><span class='info-title'>Hours: </span><span class='info-text'><%= place.hours %></span></li>
  <li><span class='info-title'>Directions: </span><span class='info-text'><%= place.directions %></span></li>
  <li><span class='info-title'>Events: </span>
    <% place.events.each_with_index do |event, index = 0 | %>
      <% if index == 0 %>
          <span class='info-text'><%= link_to event.title, activity_place_event_path(place.activity,event) %></span>
        <% else %>
          <span class='info-text'>, <%= link_to event.title, activity_place_event_path(place.activity,event) %></span>
        <% end %>
    <% end %>
  </li> 
</ul>

