<section id='place-banner'>
  <figure class='banner-figure'>
    <figcaption>
      <h1 class='gray'>Places</h1>
    </figcaption>
    <%= image_tag @banner_images.first.image_url(:banner), class: 'banner-img' if @banner_images.first.image? %>
  </figure>
</section><!-- /#place-banner -->

<section id='place-title' class='lead'><%= @place.title %></section><!-- /#place-title -->

<section class='span12' id='map-and-info'>
  <section class='row'>
    <section class='span5'>
      <iframe class='thick-border' src="https://maps.google.com/maps?f=q&amp;sspn=0.023731,0.045447&amp;ll=21.661736,-158.048844&amp;spn=0.023732,0.045447&amp;output=embed"></iframe><br>
<small><a href="https://maps.google.com/maps?f=q&amp;sspn=0.023731,0.045447&amp;ll=21.661736,-158.048844&amp;spn=0.023732,0.045447">View Larger Map</a></small>
    </section><!-- /.span5 -->
    <section class='span6 images-and-info'>
      <section class='span6 thumbnails'>
        <%= render partial: 'thumbnail', collection: @default_images, locals: { place: @place } %>
      </section><!-- /.thumnails -->
      <section id='view-all-thumbnails'>
        <%= link_to 'view all', activity_place_images_path(@place.activity,@place), class: '' %>
      </section><!-- /#view-all-thumbnails -->
      <section class='modal'>
        <%= render partial: 'images/modal', locals: { images: @default_images, resource: @place } %>
      </section>
      <section id='place-info-wrap'>
        <%= render partial: 'info', locals: { place: @place } %>
      </section><!-- /#info-wrap -->
    </section><!-- /.images-and-info -->
  </section><!--/.row -->
</section><!--/.map-and-info -->

<section clas'span11 clean-border comments'>
  <%= render partial: 'comments/place_comments', locals: { comments: @comments, comment: @comment, resource: @place }  %>
</section><!-- /.comments -->
