<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "ⱭB" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
	<div id="fb-root"></div>
  <section id="container">
	<!-- Navigation =BEGIN -->
	  <section class="navbar navbar-inverse navbar-fixed-top">
	    <section class="navbar-inner">
	      <section class="container" id='nav-main-content'>
				  <%= render 'layouts/menu'%>
	      </section><!--/.container -->
	    </section><!--/.navbar-inner -->
	  </section><!--/.navbar navbar-inverse navbar-fixed-top -->
		<!-- Navigation =END -->
		
      <section id='flash'>
  			<% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
  		</section><!--/#flash -->
      <%= content_tag :h1, yield(:title) if show_title? %>
      <section class='container main'>
			<%= yield %>
		  </section><!--/.main -->
    </section>
  </body>
</html>
